<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Authorization Code Flow</title>
</head>

<body>
    <script>
        localStorage.setItem("accessToken", "{{.AccessToken}}");
        location.href = "/";
    </script>
</body>

</html>