<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Authorization Code Flow</title>
    <form>
        <button type="submit" id="logout-btn">Logout</button>
    </form>
</head>

<body>
    <script>
        const accessToken = localStorage.getItem("accessToken");
        const button = document.getElementById("logout-btn");
        if (!accessToken) {
            location.href = "/login";
        }
        fetch("http://localhost:9003/resource", {
            method: "GET",
            headers: {
                "Authorization": `Bearer ${accessToken}`,
                "cors": "no-cors",
            },
        }).then((response) => {
            if (response.ok) {
                return response.json();
            }
            throw new Error("Failed to fetch data from the API");
        }).then((data) => {
            const h1 = document.createElement("h1");
            h1.textContent = `${data.message}!`;
            document.body.appendChild(h1);
        }).catch((error) => {
            console.error(error);
        });
        button.addEventListener("click", () => {
            localStorage.removeItem("accessToken");
            location.href = "/login";
        });
    </script>
</body>

</html>